Repository surfstudio/flutter-surf-widget-test-composer, pull requests merged in 2024-02, with the labels that each got.

#6 feat: Add golden tests for each locale
  example/test/flutter_test_config.dart
  example/test/goldens/dark.en.settings_view.iphone11.png
  example/test/goldens/dark.en.settings_view.iphone_se_1.png
  example/test/goldens/dark.en.settings_view.pixel 4a.png
  example/test/goldens/dark.ru.settings_view.iphone11.png
  example/test/goldens/dark.ru.settings_view.iphone_se_1.png
  example/test/goldens/dark.ru.settings_view.pixel 4a.png
  example/test/goldens/dark.settings_view.iphone11.png
  example/test/goldens/dark.settings_view.iphone_se_1.png
  example/test/goldens/dark.settings_view.pixel 4a.png
  example/test/goldens/light.en.settings_view.iphone11.png
  example/test/goldens/light.en.settings_view.iphone_se_1.png
  example/test/goldens/light.en.settings_view.pixel 4a.png
  example/test/goldens/light.ru.settings_view.iphone11.png
  example/test/goldens/light.ru.settings_view.iphone_se_1.png
  example/test/goldens/light.ru.settings_view.pixel 4a.png
  example/test/goldens/light.settings_view.iphone11.png
  example/test/goldens/light.settings_view.iphone_se_1.png
  example/test/goldens/light.settings_view.pixel 4a.png
  lib/flutter_test_config.dart
  lib/utils/test_widget.dart
Labels: enhancement

#7 chore: Change test's naming pattern
  example/test/goldens/dark.en.settings_view.iphone11.png
  example/test/goldens/dark.en.settings_view.iphone_se_1.png
  example/test/goldens/dark.en.settings_view.pixel 4a.png
  example/test/goldens/dark.ru.settings_view.iphone11.png
  example/test/goldens/dark.ru.settings_view.iphone_se_1.png
  example/test/goldens/dark.ru.settings_view.pixel 4a.png
  example/test/goldens/light.en.settings_view.iphone11.png
  example/test/goldens/light.en.settings_view.iphone_se_1.png
  example/test/goldens/light.en.settings_view.pixel 4a.png
  example/test/goldens/light.ru.settings_view.iphone11.png
  example/test/goldens/light.ru.settings_view.iphone_se_1.png
  example/test/goldens/light.ru.settings_view.pixel 4a.png
  example/test/goldens/settings_view.en.dark.iphone11.png
  example/test/goldens/settings_view.en.dark.iphone_se_1.png
  example/test/goldens/settings_view.en.dark.pixel 4a.png
  example/test/goldens/settings_view.en.light.iphone11.png
  example/test/goldens/settings_view.en.light.iphone_se_1.png
  example/test/goldens/settings_view.en.light.pixel 4a.png
  example/test/goldens/settings_view.ru.dark.iphone11.png
  example/test/goldens/settings_view.ru.dark.iphone_se_1.png
  example/test/goldens/settings_view.ru.dark.pixel 4a.png
  example/test/goldens/settings_view.ru.light.iphone11.png
  example/test/goldens/settings_view.ru.light.iphone_se_1.png
  example/test/goldens/settings_view.ru.light.pixel 4a.png
  lib/utils/test_widget.dart
Labels: question

#14 chore(SNP-903): Fix and update CI
  .fvm/fvm_config.json
  .fvmrc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/documentation_update.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/workflows/main.yml
  .github/workflows/new_issue_to_pyrus_task.yml
  .github/workflows/new_issues_label.yml
  .github/workflows/new_pull_request_label.yml
  .github/workflows/new_pull_request_main_actions.yml
  .github/workflows/publish_to_pub.yml
  .gitignore
  test/domain/device_test.dart
  test/unit_test.dart
Labels: enhancement, new pull request

#15 chore(SNP-833) Update Pyrus task from new event workflow
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/documentation_update.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/workflows/new_issue_to_pyrus_task.yml
Labels: new pull request
